headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px;
    /* same as headerbar side padding for nicer proportions */
    margin-bottom: 0px;
}

headerbar {
    min-height: 15px;
    padding-left: 2px;
    /* same as childrens vertical margins for nicer proportions */
    padding-right: 2px;
    margin: 0px;
    /* same as headerbar side padding for nicer proportions */
    padding: 0px;
    font-size: 9pt;
}

windowcontrols>button {
    min-height: 15px;
    min-width: 15px;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
}

windowcontrols>button.close:hover {
    background-color: #cd3333;
    color: white;
}

scrolledwindow#terminal-scrolled-window {
    background-color: #151515;
}