/* Header bar */
headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px;
    /* same as headerbar side padding for nicer proportions */
    margin-bottom: 0px;
}
headerbar {
    min-height: 15px;
    padding-left: 2px;
    /* same as childrens vertical margins for nicer proportions */
    padding-right: 2px;
    margin: 0px;
    /* same as headerbar side padding for nicer proportions */
    padding: 0px;
    font-size: 9pt;
    background: #F6F5F4;
}
windowcontrols>button {
    min-height: 15px;
    min-width: 15px;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
}
windowcontrols>button.close:hover {
    background-color: #cd3333;
    color: white;
}
.header-bar-icon-button {
    min-height: 10px;
    min-width: 10px;
    border-color: transparent;
    padding: 0px;
}

/* Command Panel */
.command-panel {
    background-color: #F6F5F4;
}

/* Native terminal emulator */
.workspace-terminal-window {
    background-color: #151515;
}

/* Widget title bar */
.widget-title-bar {
    border-width: 0 0 1px 0;
    border-color: #dedede;
    border-style: solid;
}
.widget-title-bar .widget-title-control-button {
    min-height: 10px;
    min-width: 10px;
    border-color: transparent;
    padding: 2px 2px 2px 2px;
}
/* .widget-title-bar .left-box {
    border-width: 0 1px 0 0;
    border-color: #dedede;
    border-style: solid;
} */

/* Activity bar */
.activity-bar-item-on{
    border-width: 0 0 0 3px;
    border-color: #8689AD;
    border-style: solid;
    border-radius: 1px;
}
.activity-bar-item-off{
    border-width: 0 0 0 3px;
    border-color: transparent;
    border-style: solid;
}

/* Session credential management */
.session-credential-management-tree {
    background: #F6F5F4;
    color: black;
}
.session-credential-management-tree:selected {
    background: #CED2FF;
    color: black;
    border-radius: 5px 5px 5px 5px;
}
.session-info-table {
    background: #F6F5F4;
    color: black;
}
.session-info-table:selected {
    background: #CED2FF;
    color: black;
    border-radius: 5px 5px 5px 5px;
}